#a{
    border: 5px solid red;
    height: 200px;
    width: 200px;
    color: tomato;
    font-size: 20px;
}
#b{
    border: 5px solid rgb(18, 73, 7);
    height: 100px;
    width: 100px;
}
#c{
    border: 5px solid rgb(0, 26, 255);
    
}