
#box1{
    display: flex;
    border: 20px solid rgb(109, 109, 167);
    height: 200px;
    width: 700px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-items: center;
}
#button{
    background-color: blueviolet;
    border-radius: 10%;
    height: 30px;
    align-items: center;
    padding: 10px;
}
#second{
    text-align: center;
    font-size: 40px;
}
#first{
    color: gray;
}